<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772144222105-15l8qvjqabdkieluupgq4m43e2qv0vk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772144222105-15l8qvjqabdkieluupgq4m43e2qv0vk9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772144222105-10e5ilttl2423ndl2ioqqckvfko0fbcl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOjB_JQ8DTF9rxcYdWq-vbzWMNyoq1uxc</string>
	<key>GCM_SENDER_ID</key>
	<string>772144222105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahi.firebasePushNotificationApp</string>
	<key>PROJECT_ID</key>
	<string>all-demo-projects-31469</string>
	<key>STORAGE_BUCKET</key>
	<string>all-demo-projects-31469.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772144222105:ios:8c61646f21723dc65d0d08</string>
	<key>DATABASE_URL</key>
	<string>https://all-demo-projects-31469-default-rtdb.firebaseio.com</string>
</dict>
</plist>